:root {
    --base: 4;
    --basefont:16px;
    --gd: linear-gradient(-45deg, crimson, magenta, cyan);
    --gdreverse: linear-gradient(45deg, cyan, magenta, crimson);
}
@function scale($a){
    @return calc(var(--base)*$a);
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: black;
}

html {
    font-size: var(--basefont);
    overflow-x: hidden;
    body {
        div#closebutton { 
            display: none;
            @media (orientation:portrait) { 
                display: inline;
                z-index: 2;
                position: fixed;
                top: scale(1px);
                right: scale(1px);
                font-size: scale(.5rem);
                background: var(--gd);
                border-radius: 5px;
                &.button {
                    font-size: scale(1.25rem);
                    line-height: scale(.125rem);
                    height: scale(.625rem);}}}
        nav#navbar {
            z-index: 2;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: scale(20px);
            background: var(--gd);
            @media (orientation:landscape){
                display: flex;
                justify-content: space-between;
                align-items: center;}
            @media (orientation:portrait) {
                transition: all 1s ease;
                height: 100%;
                &.navbar{
                    transform: translate(-100%);}}
            header {
                height: fit-content;
                font-size:scale(6px);
                margin-left: scale(2px);
                &::first-letter {
                    color: limegreen;}
                span {
                    font-size: scale(.625em);
                    line-height: scale(.2em);}
                @media (orientation:portrait){
                    font-size:scale(1rem);
                }}
            ul {width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                gap: 5px;
                @media (orientation:portrait){
                    flex-direction: column;
                    align-items: flex-start;
                    height: scale(5rem);
                    padding-left: calc(var(--base)*.2rem);}
                li {
                    font-size: scale(.4rem);}}}
        main#main-doc {
            margin-top: scale(20px);
            @media (orientation:portrait) {
                margin-top: 0;}
            section.main-section {
                padding-left: scale(.25rem);
                &:nth-of-type(odd) {
                    background: var(--gd);}
                &:nth-of-type(even) {
                    background: var(--gdreverse);}
                &:nth-last-of-type(1) {
                    background: linear-gradient(40deg, white, gray, black);}
                header {
                    display: inline;
                    font-size: scale(.5rem);
                    background: linear-gradient(180deg,yellow 50%, purple);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;}
                .map{
                    width: 90%;
                    overflow: auto;}
                p {
                    font-size: scale(.25rem);
                    margin-top: scale(1px);
                    margin-left: scale(12px);
                    margin-bottom: scale(1px);}
                pre {
                    max-height: scale(100px);
                    width: 90%;
                    overflow: auto;
                    border-radius: 15px;
                    margin: 0 scale(1px) !important;
                    &:focus {
                        outline: none !important;}
                    code {
                        font-size: scale(.25rem);}}}}}}
#tooltip2,
#tooltip3 {
    position: absolute;
    visibility: hidden;
    background-color: rgba(29, 29, 29, 0.527);
    box-shadow: inset 2px 1.5px 7px rgba(0, 0, 0, 0.4),
        inset -2px -2px 5px rgba(0, 0, 0, 0.6);
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.461));
    border-radius: 4px;
    padding: 7px;
    pointer-events: none;
    backdrop-filter: blur(1.5px);
    color: white;
}

.county:hover,
.tile:hover {
    fill: white;
}